

<mat-toolbar *ngIf="navbarservice.visible">

    <mat-toolbar-row  >
         <a mat-button routerLink="." >R-E-S-O-M-E</a>
          <span class="spacer"></span>
          <a mat-button routerLink="." >Actualités</a>
          <button mat-button [matMenuTriggerFor]="menu">Agir</button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item >Rejoignez nous</button>
              <button mat-menu-item>Créer un programme</button>
              <button mat-menu-item>Collectifs amis</button>
              <button mat-menu-item>Se Former</button>

            </mat-menu>
          <a mat-button routerLink="." >Textes</a>
          <a mat-button routerLink="about" > À propos </a>
          <a mat-button routerLink="contact">Contact</a>
          <a mat-button routerLink="auth/sigin" ><mat-icon>perm_identity</mat-icon> <span >Se Connecter</span> </a>

    </mat-toolbar-row>
</mat-toolbar>

