.spacer {
  flex: 1 1 auto;
}
a:hover {
  background-color:gold;
}
button:hover {
  background-color:gold;
}
button{
  background-color: transparent;
  border-style: none
}
.mat-button{
  background-color: transparent;
}
mat-menu-item:hover{
  background-color: gold;
}
mat-toolbar {
  background-color:white;
}
