<div class="signin-content">
    <mat-card>
      <mat-card-content>
        <form [formGroup]="adminFormGroup">
            <p>Welcome Resome Admin</p>
            <mat-form-field class="full-width-input">
              <input matInput placeholder="Nom d'utilisateur" formControlName="username"  required>
              <mat-error ></mat-error>
            </mat-form-field>
            <mat-form-field class="full-width-input">
                <input matInput type="password" placeholder="Password" formControlName="password" required>
                <mat-error >

                </mat-error>
              </mat-form-field>
              <a mat-button  class="buttondesign" routerLink="auth/sigin">Welcome back!</a>
        </form>
      </mat-card-content>
    </mat-card>
  </div>

