<mat-toolbar >

    <mat-toolbar-row  >
         <a mat-button routerLink="." >R-E-S-O-M-E</a>
          <span class="spacer"></span>
          <a mat-button routerLink="." >étudiant</a>

          <a mat-button routerLink="." >Bénévolat</a>
          <a mat-button routerLink="about" > Don</a>
          <a mat-button routerLink="contact"><mat-icon>email</mat-icon></a>


    </mat-toolbar-row>
</mat-toolbar>
<!--


<div class="example-container mat-elevation-z8">
    <table mat-table [dataSource]="Students">
      <thead>
          <tr>
              <th>EtudiantID</th>
              <th>Nom</th>
              <th>Prenom</th>
              <th>Email</th>
              <th>Password</th>
            </tr>
      </thead>
      <tbody>
        <tr *ngFor="let std of Students; let i=index"></tr>
        <th>{{ std._id}}</th>
      </tbody>


      <ng-container matColumnDef="nom">
        <th mat-header-cell *matHeaderCellDef> Nom </th>
        <td mat-cell *matCellDef="let element"> {{element.nom}} </td>
      </ng-container>


      <ng-container matColumnDef="prenom">
        <th mat-header-cell *matHeaderCellDef> Prenom </th>
        <td mat-cell *matCellDef="let element"> {{element.prenom}} </td>
      </ng-container>


      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef> email </th>
        <td mat-cell *matCellDef="let element"> {{element.email}} </td>
      </ng-container>


      <ng-container matColumnDef="password">
        <th mat-header-cell *matHeaderCellDef> password </th>
        <td mat-cell *matCellDef="let element"> {{element.password}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
-->
