h1{
  margin-top: 4rem;
  margin-left:  20px;
  color: silver;
  font-size: 1000%;
  font-style: normal;
  margin-bottom: -8rem
  }
  mat-grid-list{
    margin-top: 5rem;
  }
  mat-grid-tile{
    width: 100%;

  }
  .textcolor{
   color:black;
  }
  mat-form-field, input {
   width: 100%;
  }
  .buttonstylen{
    position: relative;
    margin-right: 10rem;
  }
  .formdesign{
    margin-top: -400rem;
    width: 45%;
  }

  .buttondesign{
    background-color: gold;
  }
li{
  list-style: square;
  text-align: left justify;
  margin-bottom: 1rem;
}
.lidesign2{
  margin-left:  20px;
  font-size: 100%;
  text-align:  justify left;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
.pcontactDesifn{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
