<h1>Contact</h1>
<mat-grid-list cols="2" rowHeight="2:1">

    <mat-grid-tile>

      <ul>
        <p class="pcontactDesifn">
            Vous souhaitez :
      </p>
        <li class="lidesign2">avoir plus d’informations sur les programmes existants</li>
        <li class="lidesign2">monter un programme ou une association ayant pour but la reprise d’études ou l’apprentissage <br>du français, à destination des migrant.e.s et des exilé.e.s.</li>
        <li class="lidesign2">vous mettre en relation avec des initiatives similaires pour partager ressources, problèmes, et projets.</li>
      </ul>
    </mat-grid-tile>
    <mat-grid-tile>
        <form>

            <div class="example-container">
                <table class="example-full-width" cellspacing="0"><tr>
                    <td><mat-form-field class="example-full-width">
                      <input matInput placeholder="Nom">
                    </mat-form-field></td>
                    <td><mat-form-field class="example-full-width">
                      <input matInput placeholder="Prénom">
                    </mat-form-field></td>
                  </tr>
                <tr>
                  <td>
                      <mat-form-field >
                          <input matInput placeholder="Adresse email" [formControl]="email" required>
                          <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
                        </mat-form-field>
                  </td>
                  <td><mat-form-field class="example-full-width">
                      <input matInput placeholder="Sujet">
                    </mat-form-field></td>
                </tr>
                  </table>
                  <mat-form-field class="example-full-width">
                      <textarea matInput placeholder="Message"></textarea>
                    </mat-form-field>
            </div>

            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a mat-button class="buttondesign" routerLink=".">Envoyer</a>

          </form>
    </mat-grid-tile>
</mat-grid-list>
