<h1>À propos</h1>
<p class="pdesign1">r-e-s-o-m-e cherche à favoriser l’accès à l’enseignement supérieur et faciliter  l'orientation<br> de tous les étudiant.e.s exilé.e.s, ainsi que l’apprentissage  du français pour tous et toutes.<br> Nous sommes un collectif constitué  d’étudiant.e.s, de professeur.e.s, de personnes solidaires,<br> d’associations et de groupes informels, qui œuvre aux côtés des réfugié.e.s et migrant.e.s. Il s'agit <br> d'une organisation apartisane à but non lucratif. Nous ne sommes ni un organisme public ni une université.</p>
<h2>Nos Objectifs</h2>
<hr color="black" size="2px" width="10%" >
<ol class="pdesign2">
  <li>Favoriser la création de programme d’intégration et d’accompagnement dans le système universitaire français, ainsi que<br> les associations et collectifs d’apprentissage du Français Langue Etrangère pour toutes et tous.</li>
  <li>Partager des conseils et des informations sur la reprise d’étude des migrant.e.s, débouté.e.s, sans-papiers, réfugié.e.s<br> et demandeu.rs/euses d’asile.</li>
  <li>Produire collectivement et/ou en groupe de travail des ressources pour l’orientation, et les partager.</li>
  <li>Travailler en contact avec les associations et collectifs œuvrant sur le terrain pour les droits des migrant.e.s et réfugié.e.s<br> (notamment sur les camps et dans les centres). S’adresser particulièrement aux travailleurs/ses sociaux/les. Se concentrer <br>sur les besoins et revendications des personnes concernées elles-mêmes.</li>
  <li>Sensibiliser les personnes fréquentant les établissements de l'enseignement supérieur aux thématiques des migrations.</li>
</ol>
<p class="pdesign2">
    Nous apportons notre soutien dans un domaine très peu pris en charge : l’orientation académique et l’éducation des réfugié.e.s, <br>des exilé.e.s, des migrant.e.s. Le r-e-s-o-m-e produit collectivement et mutualise des documents d’information et d'orientation pour<br> tout le réseau. Nous effectuons des permanences physiques régulières pour les migrant.e.s (expliquant les possibilités d‘études<br> pour chaque statut) et pour les bénévoles, collectifs et associations qui les soutiennent.
</p>
<h2>Rencontrez Notre équipe</h2>
<hr color="black" size="2px" width="20%" >
<table class="center">
  <tr>
    <td><img src="assets/images/olaf.png" class="cercle" title="Nathan"><h3>Olaf</h3> </td>
    <td><img src="assets/images/olaf.png" class="cercle"><h3>Olaf </h3> </td>
    <td><img src="assets/images/olaf.png" class="cercle"><h3>Olaf </h3> </td>
    <td><img src="assets/images/olaf.png" class="cercle"><h3>Olaf </h3> </td>
  </tr>
</table>
<p class="teamdesigne"> ❝ Death for what you believe in is not a bad fate.<br>
    It is immortality in a wonderful death. ❞</p>




