h1{
margin-top: 4rem;
margin-left:  20px;
color: silver;
font-size: 1000%;
font-style: normal;
}
.pdesign1{
  text-align: right;
  margin-right:  20px;
  font-size: 150%;
  text-align:  justify left;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
h2{
  text-align: center;
  font-size: 250%;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  text-transform: capitalize;
  margin-top: 4rem;

}
li{
  text-align: left justify;
  margin-bottom: 1rem;
}
.pdesign2{
  margin-left:  20px;
  font-size: 100%;
  text-align:  justify left;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
hr{

  margin-top: -1rem;
  margin-bottom: 3rem;
}
.cercle {
  display: block;
  width: 200px;
  height: 200px;
  margin: 25px auto;
  border-radius: 50%;
}

table.center {
  margin-left:auto;
  margin-right:auto;
}
td{
  margin-left: 2rem;
  margin-right: 2rem;
}
h3{
  margin-left: 5rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
}
.teamdesigne{
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  font-size: 150%;
  font-style: italic;
}
