h1{
  margin-top: 4rem;
  margin-left:  20px;
  color: silver;
  font-size: 1000%;
  font-style: normal;
  margin-bottom: -8rem;
  text-align: center;
  }

mat-grid-tile{
  width: 50%;
  height: 25%;
}
.textcolor{
 color:black;
}
mat-form-field, input {
 width: 100%;
}
.buttonstylen{
  position: relative;
  margin-right: 10rem;
}
.formdesign{
  margin-top: 8rem;
  width: 45%;
}

.buttondesign{
  background-color: gold;
}

