
<div onload="changeText()">
    <h1 id="changeText">Ola !</h1>
</div>
<script>
    function changeText(){
    var x=document.getElementsByTagName('h1');
    console.log(x.innerHTML);}
  </script>

<mat-grid-list cols="2" rowHeight="2:1">

    <mat-grid-tile>


          <form [formGroup]="studentFormGroup" (ngSubmit)='onSubmit()'>
            <p>Déjà Resomien ?</p>
            <div class="example-container">
                <mat-form-field >
                    <input matInput placeholder="Adresse email" formControlName="email" #email>
                    <mat-error *ngIf="email.invalid"></mat-error>
                  </mat-form-field><br>
              <mat-form-field >
                  <input matInput placeholder="Mot de passe" [type]="hide ? 'password' : 'text'">
                  <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                  <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                  </button>

              </mat-form-field>
            </div>

              <a class="textcolor" > Mot de passe oublie ?</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a mat-button class="buttondesign" routerLink=".">Welcome back !</a>

          </form>
    </mat-grid-tile>
    <mat-grid-tile>
      <form class="formdesign" [formGroup]="studentFormGroup" (ngSubmit)='onSubmit()'>
          <p>Nouveau Resomien ?</p>

          <div class="example-container">
              <mat-form-field >
                  <input matInput placeholder="Nom" formControlName="nom"  minlength="3" required >
                  <mat-error class="invalid-feedback" >Champ Obligatoire</mat-error>
              </mat-form-field><br>
              <mat-form-field >
                  <input matInput placeholder="Prénom" formControlName="prenom" minlength="3" required>
                  <mat-error class="invalid-feedback" >Champ Obligatoire</mat-error>
              </mat-form-field><br>
              <mat-form-field >
                  <input matInput placeholder="Adresse email" formControlName="email" required>
                  <mat-error class="invalid-feedback" >Champ Obligatoire</mat-error>
              </mat-form-field><br>

             <mat-form-field >
                <input matInput placeholder="Mot de passe" [type]="hide ? 'password' : 'text'" formControlName="password" required>
                <mat-error class="invalid-feedback" >Champ Obligatoire</mat-error>
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>
          </div>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button mat-button type="submit" class="buttondesign">Enchanté !</button>
      </form>

    </mat-grid-tile>

  </mat-grid-list>
